.container {
  padding: 5rem;
  background-color: #F7F8FA;
}

.table-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.row-card {
  position: relative;
  color: gray;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 1rem 0;
  text-align: left;
  background-repeat:no-repeat; 
  background-position:
    0  0,
    1% 0;
  background-size:
    1% 100%,
    100% 100%;
  box-shadow: 2px 2px 8px lightgray;
}

.status-null {
  background-image:
    linear-gradient(to right, #B90038, #B90038),
    linear-gradient(to right, white, white);
}

.status-printed {
  background-image:
    linear-gradient(to right, #5C267E, #5C267E),
    linear-gradient(to right, white, white);
}

.status-requested {
  background-image:
    linear-gradient(to right, #FFA642, #FFA642),
    linear-gradient(to right, white, white);
}

.status-confirmed {
  background-image:
    linear-gradient(to right, #00CD9A, #00CD9A),
    linear-gradient(to right, white, white);
}

.trip {
  display: flex;
  flex-flow: row;
}

.trip div {
  margin: 0 1.75rem;
}

.slot {
  height: 100%;
}
